<html>
  <head> 
  <meta charset="UTF-8"> 
    <title> Lista de tarefas </title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
  </head>
  <h1> Lista de Tarefas</h1>
  <body>
    <!-- menu --> 
    <nav>
      <ul id="menu-h">
          <li>
            <a href="{% url 'Sistema:listas_criadas' %}">Listas Criadas</a>
          </li>
          <li>
            <a href="{% url 'Sistema:Criar_Tarefas' %}">Criar Nova Tarefa</a>
          </li>
      </ul>
    </nav> 
  </body>
</html>